<h1>{{title}}</h1>
<h4>A Twitter Bot That {{description}}</h4>
<div id="accordion">
	<h5>Recent Tweets</h5>
	<div class="tweet-stream">	
		<a class="twitter-timeline" href="https://twitter.com/ihBotman">Tweets by TwitterDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>

	<h5>Favorites Tweets</h5>
	<div>This is test content</div>

	<h5>Favorites Tweets</h5>
	<div>This is test content</div>

</div>
<div style="width:900px;">
<p>{{text}}</p>
<p>{{test_var}}</p>
<p>{{data}}</p>
</div>
<script src="/javascripts/accordion-body.js" type="text/javascript"></script>